@import url(http://fonts.googleapis.com/css?family=Knewave);

<<<<<<< HEAD

body {
  background-image: url('http://i.imgur.com/jhCcuo4.jpg');
  background-size: cover;
  font-family: 'Knewave', cursive;
  font-size: 100%;
  overflow: hidden;
  /*background-repeat: no-repeat;*/
  /*background-position: 50% 50%;*/
=======
  body {
    background-image: url(http://i.ytimg.com/vi/ke65_TBC99I/maxresdefault.jpg); 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
     -webkit-background-size: cover;
>>>>>>> 3c39abe3a6e14b8133a377a1c5829092faa2a7a9
}

h1 {
  font-size: 80px;
  font-family: cursive;
  color: #FFFA28;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 80px;
}

input[type="text"] {
  height: 40px;
  width: 40%;
  font-size: 30px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

input[type="submit"] {
  height: 40px;
  width: 20%;
  margin: 15px 40%;
  text-align: center;
  background-color: #E2E2E2;
  border: 2px solid black;
  font-size: 30px;
  border-radius: 10px;
}

input[type="text"]:hover {
  background-color: #E2E2E2;
}

input[type="submit"]:hover {
  background-color: #1B1B1B;
  color: yellow;
  border: 2px solid yellow;
}
