@import url(http://fonts.googleapis.com/css?family=Knewave);


body {
  background-image: url('http://i.imgur.com/jhCcuo4.jpg');
  background-size: cover;
  font-family: 'Knewave', cursive;
  font-size: 100%;
}

h1 {
  font-size: 80px;
  color: yellow;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 80px;
}

input[type="text"] {
  height: 40px;
  width: 40%;
  font-size: 30px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

input[type="submit"] {
  height: 40px;
  width: 20%;
  margin: 15px 40%;
  text-align: center;
  background-color: #E2E2E2;
  border: 2px solid black;
  font-size: 30px;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #1B1B1B;
  color: yellow;
  border: 2px solid yellow;
}
