<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <meta charset="UTF-8">
    <!-- <link rel="shortcut icon" href="http://conorlastowka.com/wp-content/uploads/2010/06/calvin1.jpg"/> -->
    <!-- <link rel="shortcut icon" href="http://dfihair.com/wp-content/uploads/2013/10/dfiplay_94_gotta-pee.jpg"/> -->
    <link rel="shortcut icon" href="http://sandiegofreepress.org/wp-content/uploads/2014/10/peeing.png"/>

=======
    <meta charset="UTF-8" content='width=device-width, initial-scale=1' name='viewport'/>
>>>>>>> 3c39abe3a6e14b8133a377a1c5829092faa2a7a9
    <title> Gotta Go Pee </title>
    <link rel="stylesheet" href="css/style.css" type="../../public/css">
  </head>
  <body>

    <h1> Gotta Go Pee </h1>
    <div class="inputs">
      <form action="/map" method="POST">
        <div class="inputs">
          <input type="text" name="location" placeholder="Current Location">
          <br> <br>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </body>
</html>