<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" content='width=device-width, initial-scale=1' name='viewport'/>
    <title> Gotta Go Pee </title>
    <link rel="stylesheet" href="css/style.css" type="../../public/css">
  </head>
  <body>

    <h1> Gotta Go Pee </h1>
    <div class="inputs">
      <form action="/map" method="POST">
        <div class="inputs">
          <input type="text" name="location" placeholder="Current Location">
          <br> <br>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </body>
</html>