<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> GottaGoPee </title>
    <link rel="stylesheet" href="css/style.css" type="../../public/css">
  </head>
  <body>

    <h1> GottaGoPee </h1>

    <form action="/map" method="POST">
      <div class="inputs">
        <input type="text" name="location" placeholder="Current Location">
        <br> 
        <input type="submit" value="Submit">
      </div>
    </form>
  
  </body>
</html>