
<head>
  <title> Show </title>
</head>
  
<!-- <p>
  <h3>Nearby location</h3>
  <ul>
    <%#for location in @location.nearbys(10)%>

      <li><%#= link_to location.address, location%> (<%#= location.distance.round(2)%>)</li>
    <%#end%>
  </ul>
   <p> -->

        <p> 

          <% @location_array.each do |cord| %>
            <%= cord %>
          <% end %>


        </p>

        <ul>
          <% @close_bathrooms_show.each do |address| %>
            <li> <%= address %> </li>
          <% end %>
        </ul>